#gameContainer {
	position: relative;
}

#playerBet {
	position: absolute;
	padding-left: 5px;

	top: 408px;
	left: 326px;
	width: 90px;
	height: 24px;

	border: none;
	background-color: transparent;
	color: #eeca01;

	font-size: 12pt;
	font-family: "consolas";
}
